<div class="columns is-flex is-justify-content-center mt-5 ml-5">
    <div class="column is-2 ml-5">
        <input class="input is-normal" type="text" placeholder="Add new Task" #todoName />

    </div>
    <div class="column is-1">
        <button class="button is-success" (click)="add(todoName.value); todoName.value=''">Add</button>
    </div>
</div>
<div class="container">
    <h2 class="has-text-centered mt-5 is-size-3">In progress</h2>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth mt-3 has-text-centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <th>{{todo.id}}</th>
                <th class="{{(todo.completed) ? 'done': ''}}">{{todo.name}}</th>
                <th>
                    <label class="checkbox mr-3 mt-3">
                        <input type="checkbox" [checked]='todo.completed' (click)="completeTodo(todo.id)">
                      </label>
                    <button routerLink="/todos-detail/{{todo.id}}" class="button is-info mr-3"
                        title="edit todo">Edit</button>
                    <button class="button  is-danger" title="delete todo" (click)="deleteTodo(todo.id)">Delete</button>
                </th>
            </tr>
        </tbody>
        </table>
</div>
    <h2 class="has-text-centered mt-5 is-size-3">Completed</h2>
    <app-todo-completed *ngFor="let todo of todos" [todo]="todo"></app-todo-completed>