<div class="columns is-flex is-justify-content-center mt-5 ml-5">
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
            <input class="input is-normal" formControlName="task" type="text" placeholder="Add new Task" formControlName="task" />
            <input class="input is-normal mt-3" formControlName="date" type="date" formControlName="date"  />
        <div class="column is-flex is-justify-content-center ">
            <button class="button is-success">Add</button>
        </div>
    </form>
</div>
<div class="container">
    <h2 class="has-text-centered mt-5 is-size-3">In progress</h2>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth mt-3 has-text-centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let todo of toDo">
                <th>{{todo.id}}</th>
                <th class="{{(todo.completed) ? 'done': ''}}">{{todo.name}}</th>
                <th>{{todo.DoB | date: "MMMM d, y"}}</th>
                <th>
                    <label class="checkbox mr-3 mt-3">
                        <input type="checkbox" [checked]='todo.completed' (click)="completeTodo(todo.id!)">
                    </label>
                    <button routerLink="/todos-detail/{{todo.id}}" class="button is-info mr-3"
                        title="edit todo">Edit</button>
                    <button class="button  is-danger" title="delete todo" (click)="deleteTodo(todo.id!)">Delete</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<h2 class="has-text-centered mt-5 is-size-3">Completed</h2>
<div>
    <app-todo-completed *ngFor="let todo of toDo" [todo]="todo"></app-todo-completed>
</div>
